/*************************************************************************/
/******************* All pages general ***********************************/

body {
    color: #5e5e5e;
}

.action.primary {
    background: #007255;
    border: 1px solid #007255;
    color: #fff;
    border-radius: 0  !important;
    font-weight: 100;
}

.action.primary:hover {
    background: #50a58f;
    border: 1px solid #50a58f;
    color: #fff;
}

/*************************************************************************/
/******************* Header **********************************************/

.page-wrapper .page-header {
    display: flex;
    flex-direction: column-reverse;
}

.page-wrapper .page-header .header.content {
    display: flex;
    align-items: center;
}

.page-wrapper .page-header a, .page-wrapper .page-header .alink {
    color: #5e5e5e;
}

.page-header .logo {
    margin: 0 auto 0 40px;
}

.page-header .logo img {
    padding: 10px;
    width: 250px;
}

.page-header .header.content .newsletter-wrapper {
    position: relative;margin-left: 50px;
}

.page-header .newsletter-wrapper .newsletter-link {
    display:flex;align-items: center;
    z-index: 10;
}

.page-header .block.newsletter {
    margin: 0;
    width: 100%;
    position: absolute;
    right: 0;
    top: 25px;
    visibility: hidden;
    padding-top: 10px;
    
}

.page-header .newsletter-wrapper .newsletter-link:hover ~ .block.newsletter {
    visibility:visible;
}

.page-header .newsletter-wrapper .block.newsletter:hover {
    visibility:visible;
}

.page-header .newsletter-wrapper .field.newsletter {
    width: 300px;
}

.page-header .header.links {
    margin: 0 10px;
}

.page-header .header.links img {
    width: 25px;
    height: 25px;
}

.page-header .header.links .customer-welcome {
    display: none;
}

.page-header .minicart-wrapper {
    margin-left: 50px;
}

.page-header .minicart-wrapper .action.showcart {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.page-header .minicart-wrapper .action.showcart:before {
    content: '';
    height: 25px;
    width: 25px;
    background-image: url(../images/cart.png);
    background-size: contain;
}

.page-header .minicart-wrapper .action.showcart .text{
height: auto;width: auto;position: relative;margin-right: 15px;
}


.page-header .minicart-wrapper .action.showcart .counter.qty:not(.empty) {
    position: absolute;
    right: -10px;
    top: -5px;
    height: 16px;
    line-height: 14px;
    width: 16px;
    border-radius: 45px;
    display: block;
    min-width: 0;
    margin: 0;
    padding: 2px;
}

.page-header .minicart-wrapper .action.showcart .counter.qty .counter-number {
    font-size: 10px;
}
@media only screen and (max-width: 767px) {
    
    .page-wrapper .page-header .header.content .block-search, .page-wrapper .page-header .header.content .newsletter-wrapper {
        display:none;
    }

    .page-wrapper .page-header .header.content .minicart-wrapper {
        margin-left: 15px;
        margin-top: 0;
    }

    .page-wrapper .page-header .header.content .minicart-wrapper .action.showcart .text{
        display:none;
    }

    .page-wrapper .page-header .header.content .header.links a span {
        display:none;
    }

    .page-wrapper .page-header .header.content .logo {
        margin: 0 auto -25px 40px;
    }

}

@media only screen and (min-width: 768px) and (max-width: 967px){

    .page-wrapper .page-header .header.content {
        padding: 10px 20px;
        margin: 0;
    }

    .page-wrapper .page-header .header.content .logo {
        margin-left: 0;
    }

    .page-wrapper .page-header .header.content .header.links {
        padding-left: 0;
        margin-left: 25px;
    }

    .page-wrapper .page-header .header.content .header.links a span {
        display:none;
    }

    .page-wrapper .page-header .header.content .minicart-wrapper {
        margin-left: 15px;
    }

    .page-wrapper .page-header .header.content .minicart-wrapper .text{
        display:none;
    }

    .page-wrapper .page-header .header.content .newsletter-link > span {
        display:none;
    }

    .page-wrapper .page-header .header.content .block.newsletter .form.subscribe {
        position: absolute;
        right: 0;
    }

    .page-wrapper .page-header .panel.wrapper {
        display:none;
    }

}

@media only screen and (min-width: 968px) {

    .page-wrapper .page-header .header.content {
        padding: 10px 40px;
        margin: 0;
    }

    .page-wrapper .page-header .panel.wrapper {
        display:none;
    }

}

/*******Mobile Panel ***************/

.page-header .panel.wrapper {
    background: transparent;
}

.page-header .panel.wrapper .panel.header {
    padding: 0 15px 5px;
    display: flex;
    justify-content: flex-end;
}

.page-header .panel.wrapper .action.contentarea, .page-header .panel.wrapper .switcher-currency {
    display: none;
}

.page-header .panel.wrapper .newsletter-wrapper {
    position: relative;
}

.page-header .panel.wrapper .newsletter-wrapper .block.newsletter {
    padding-top: 3px;
}

.page-header .panel.wrapper .form.subscribe {
    position: absolute;
    right: 0;
    z-index: 9000;
}

.page-header .panel.wrapper .block-search {
    margin-top: 0 !important;
}
.page-header .panel.wrapper .block-search .field.search {
    position: relative;
    margin-right: 15px;
}

.page-header .panel.wrapper .block-search .control {
    border: none;
}

.page-header .panel.wrapper .block-search .control input {
    width: 365px;
    right: 0;
    position: absolute;
    left: auto;
    margin-top: 0;
    visibility: hidden;
    top: 28px;
}

.page-header .panel.wrapper .block-search .field.search .label {
    z-index: 40;
}
.page-header .panel.wrapper .block-search .field.search .label:hover ~ .control input {
    visibility:visible;
    z-index: 90000;
}

.page-header .panel.wrapper .block-search .field.search .control input:hover {
    visibility:visible;
    z-index: 90000;
}

/*************************************************************************/
/******************* Menu ************************************************/

.page-wrapper .sections.nav-sections {
    margin-bottom: 0;
    background: transparent;
}

.page-wrapper .sections.nav-sections .navigation {
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) {
    background-color: #007255 !important;
    padding-left: 40%;
    display: flex;
    align-items: center;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item {
    padding: 10px 0;
    margin: 0;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a{
    line-height: 16px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    
}
.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a{
    border-bottom: none;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item:not(:last-child) > a{
    border-right: 2px solid white;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item > a > span {
    color: white;
    line-height: 16px;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item.active {

    background: #ffcc33;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item.active > a {
    border: none;
}

.page-wrapper .sections.nav-sections .navigation .ui-menu:not(.submenu) .level0.ui-menu-item.active > a > span {
    color: #007255;
}

.page-wrapper .sections.nav-sections .navigation .submenu a:hover {
    background-color: rgba(0, 114, 85, 0.5);
}

/*************************************************************************/
/******************* Footer **********************************************/

.page-footer {
    background: #aaa08e;
}

.footer.content {display:flex;}

.footer.content .block-static-block {
    width: 100%;
    display: flex;
    padding: 0 20px 50px;
}

.footer.content .block-static-block > div {
    width: 50%;
    display: flex;
}

@media (max-width: 900px) {
    .footer.content .block-static-block {
        flex-direction: column;
        align-items: center;
    }

    .footer.content .block-static-block > div {
        width: 80%;
        justify-content: space-around;
        margin-bottom: 50px;
    }

    .footer.content .block-static-block > div > div {
        width: 40% !important;
        padding: 0 !important;
    }

    .footer.content .block-static-block > div > div:first-child {
        margin-right: 10%;
    }

    .footer.content .block-static-block > div > div:last-child {
        margin-left: 10%;
    }

    .footer.content .block-static-block > div:first-child > div:first-child {
        align-items: center !important;
    }
}


/*************************************************************************/
/******************* Home ************************************************/


/*************************************************************************/
/******************* Uber-uns & kontakt **********************************/


/*************************************************************************/
/******************* Catalog Category ************************************/


/*************************************************************************/
/******************* Checkout Page ***************************************/
