/*************************************************************************/
/******************* Home ************************************************/

body.cms-jungle-gym #maincontent {
    padding-top:0;
}

body.cms-jungle-gym  .custom-slider .owl-carousel .owl-stage-outer {
    padding: 0;
}

body.cms-jungle-gym  .custom-slider .owl-controls .owl-nav [class*=owl-] {
    color: transparent;
}

body.cms-jungle-gym  .gartenhaus-second-row-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

body.cms-jungle-gym  .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem {
    width: 32%;
    position: relative;
    min-width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
}

body.cms-jungle-gym  .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%;
}

body.cms-jungle-gym  .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem .gartenhaus-second-row-wrapper-texts{
    z-index: 20;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(169,159,142,.9);
    padding: 15px 50px;
    color: #017f4e;
    border: 3px solid rgba(253.1,199.1,51.7,.9);
}

@media (max-width: 900px) {
    body.cms-jungle-gym .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem .gartenhaus-second-row-wrapper-texts {
        padding: 5px 20px;
    }
}

body.cms-jungle-gym .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem .gartenhaus-second-row-wrapper-texts .gartenhaus-second-row-wrapper-header{
    font-size: 120%;
    font-weight: 700;
    text-shadow: -1px 0 #43bf8f;
}

body.cms-jungle-gym .gartenhaus-second-row-wrapper .gartenhaus-second-row-wrapper-elem .gartenhaus-second-row-wrapper-texts .widget.block-category-link > a{
    background-image: none;
    cursor: pointer;
    display: inline-block;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 7px 15px;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    background: #007255;
    border: 1px solid #007255;
    color: #fff;
    border-radius: 0 !important;
    font-weight: 100;
    margin-top: 10px;
}

body.cms-jungle-gym .gartenhauser-home-text {
    padding: 20px 40px;
    color: #333;
}

body.cms-jungle-gym .gartenhauser-home-text .gartenhauser-home-text-header {
    display: block;
    font-size: 140%;
    font-weight: 600;
}

body.cms-jungle-gym .gartenhauser-home-text .gartenhauser-home-text-subheader {
    font-size: 110%;
    display: block;
}

body.cms-jungle-gym .gartenhauser-home-text p {
    max-width: 95%;
    margin: 20px 0;
}

body.cms-jungle-gym .block-products-list {
    margin-bottom: 80px !important;
}
body.cms-jungle-gym .product-item-name .product-item-link, body.cms-jungle-gym .price{
    font-weight: 600;
    color: #333;
}




/*************************************************************************/
/******************* Uber-uns & kontakt **********************************/


/*************************************************************************/
/******************* Catalog Category ************************************/


/*************************************************************************/
/******************* Checkout Page ***************************************/
